@import url('./reset.css');
@import url('./variables.css');
@import url('./fonts.css');
/* title  */

.page-title h3 {
    color: var(--primary-color);
    text-align: right;
    font-family: Moraba-medium;
    font-size: clamp(2.7rem,3rem,3.5rem);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 35px */
    text-align: center;

}

.page-title p {
    margin-top: 1.8rem;
    color: var(--sec-light, #25262A);
    text-align: right;
    font-family: PeydaWebFaNum13;
    font-size:  clamp(1rem,1.2rem,1.4rem);
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    /* 14px */
    text-align: center;

}

/* title  */

/* main page  */
.main-content {
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
  
}

.content-title {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 34px 20px 0;
}

.content-title h1 {
    color: var(--primary-color, #EC3A4C);
    font-family: PeydaWebFaNum15;
    font-size:  clamp(1.5rem,1.7rem,2rem);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 20px */
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-section-text p {
    color: #000;
    text-align: right;
    font-family:PeydaWebFaNum-N;
    font-size:  clamp(1.2rem,1.3rem,1.6rem);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}


.main-img {

    display: flex;
    justify-content: center;
    padding: 2rem 3.4rem;
}

.main-img div {
    padding: 5px;
}

.main-img div img {
    width: 100%;
}


.honor h2 {
    color: var(--primary-color, #EC3A4C);
    font-family:PeydaWebFaNum6;
    font-size: clamp(1.5rem,1.7rem,2rem);
    font-style: normal;
    font-weight: 600;
    line-height:20px
   
}



.count_dwon_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px 0; */
    background-color: #1D1E22;
    border-radius: 0  0 2rem 2rem;

}


.count_dwon_box {
    color: #EAEAEA;
    padding: 2rem 0;
    font-family:  PeydaWebFaNum15;
}

.count_dwon_box h1 {
    text-align: center;
    font-size: clamp(4.3rem,4.5rem,5rem) ;
    font-weight: 600;   
    
}

.count_dwon_box p {
    text-align: center;

    font-size: clamp(1.8rem,2rem,2.5rem);
    font-weight: 300;
    margin-top: 19px;
}

