@import url('./reset.css');
@import url('./variables.css');
@import url('./variables.css');
@import url('./fonts.css');

/* footer started  */

.page-footer {
    margin-top: 5rem;
    background: #1D1E22;
}

.site-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 0;
}

.site-brand h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    color: #FFF;

}

hr {
    margin: 20px;
    padding: 0;
    color: #2E2F35;
    background-color: #808186;
    width: 93% !important;
}

/* footer nav start  */

.footer_nav {
    display: flex;
    justify-content: space-between;
}

.about-ausbilding h1,
.footer-navbar h1,
.trust-logo h1 {
    font-family: var(--PeydaWebFaNum8);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--primary-color);
}

.about-ausbilding p,
.about-ausbilding div p,
.footer-navbar li a {
    margin-top: 1rem;
    font-family: PeydaWebFaNum-N;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 4px;
    color: #b0acac; 
}

.number {
    font-family: PeydaWebFaNum15 !important; 
}

.about-ausbilding {
    width: 25%;
}

.about-ausbilding div {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.trust-text div p {
    color: #FFF;

    font-size: 13.982px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.975px
}

.trust-text div {
    font-family: PeydaWebFaNum16;

    margin-top: 5px;
    padding: 9.987px 15.833px 14.955px 15.98px;
    border-radius: 4.994px;
    background: #25262A;
}

.news-btn {
    background-color: var(--primary-color);
    font-family: PeydaWebFaNum16;

    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    border: 1px solid var(--primary-color);

}

.news-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}


.copy-right-text {
    font-family:PeydaWebFaNum13 ;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
    opacity: 0.4;
}

.copy-right-text p {
    color: #FFF;

text-align: right;
font-family: PeydaWebFaNum13 ;
font-size:clamp( 0.5rem, 1rem, 1.2rem);
font-style: normal;
font-weight: 300;
line-height: normal;
}

input::placeholder {
    text-align: right;
}

.join-news input,
.join-news button {
    width: 50%;
}

.join-news input {
    background-color: #3F4043 !important;
    color: #fff !important;
    /* text-align: right; */
    border: none;
}

/* footer end  */

/* responsive  */

@media screen and (max-width: 850px) {
    .footer_nav {
        flex-wrap: wrap;

    }

    .about-ausbilding {
        width: 100%;
    }

    .footer-navbar {
        margin-top: 2rem;
    }

    .trust-logo {
        margin-top: 2rem;
        width: 100%;
    }

    .mobile-footer {
        width: 100%;
        justify-content: center;
    }

    .copy-right {
        flex-wrap: wrap-reverse;
        position: relative;
    }

    .copy-right-text   {
        display: none !important;
    }

    .copy-right-text {
        align-items: center !important;
        gap: 10px;
        width: 100% !important;
        margin-top: 2rem;
        color: #919191;
    }

    .copy-right-media {
        width: 100% !important;
        justify-content: center !important;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: -40px;
        left: 0;
    }
    
   

    .trust-text div p {
        font-size: 10px;
    }
    
    .page-footer hr {
        margin: 15px auto 0 auto;
    }

    .hr-last {
        margin: 5px  auto 23px auto !important;
    }
   
}