@import url('./reset.css');
@import url('./variables.css');
@import url('./fonts.css');


/* hero section start  */
.large-hero-sec,
.small-hero-sec {
    /* background-image:; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.78) 100%), url('../assets/images/post-archive-hero-section-large.png');
    height: 42.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.9rem 1.2rem 2.4rem 1.2rem;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}


.hero-section-title a {

    font-family: PeydaWebFaNum6;
    color: #FFF;
    text-align: right;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;
    word-spacing: 1px;
    /* 20px */
}


.small-hero-sec-wapper {
    display: flex;
    gap: 2.1rem;
    flex-wrap: wrap;
    flex-basis: 55rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.small-hero-sec {
    width: 47%;
    height: 20.1rem;
    /* margin-top: 2rem; */

}

#bg_car {

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.78) 100%), url('../assets/images/post-archive-hero-section-small-1.png');

}

#bg_card {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.78) 100%), url('../assets/images/post-archive-hero-section-small-2.png');

}

#bg_football {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.78) 100%), url('../assets/images/post-archive-hero-section-small-3.png');

}

#bg_millitary {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.78) 100%), url('../assets/images/post-archive-hero-section-small-4.png');

}

.hero-section-title-sm a {
    font-size: clamp(1.4rem, 1.5rem, 1.8rem) !important;
}

.category-btn {

    display: inline;
    padding: 8px 20px;
    background-color: rgba(236, 58, 76, 0.50);
    border-radius: 5px;

    font-family: PeydaWebFaNum-N;
    color: #FFF;
    text-align: right;
    font-size: clamp(1.2rem, 1.3rem, 1.4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
}

.category-btn:hover {
    color: #f5dede;
}

/* hero section finish  */

/* categiry start  */

.wrapper-catefories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.categories-sec {
    border-radius: 10px;
    height: 18rem;
    background: #EEF0F2;
    margin-top: 5rem;
    padding: 0 3rem;
}

.text-section p {
    font-family: PeydaWebFaNum6;
    color: var(--primary-color, #EC3A4C);
    text-align: right;
    font-family: Peyda(FaNum);
    font-size: clamp(1.6rem, 1.8rem, 2.2rem);

    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    /* 44px */
}

.category_box_post {
    width: 17rem;
    height: 17rem;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.category_box_post a {
    font-family: PeydaWebFaNum5;
    color: #333;
    font-size: clamp(1.4rem, 1.5rem, 1.6rem);
    font-style: normal;
    font-weight: 500;
}

/* .category_box_post svg path {
    fill: var(--primary-color);
} */

.active-category {
    background-color: var(--primary-color) !important
}

.active-category a {
    color: #fff;


    /* 32px */
}

.active-category svg path {
    fill: #fff;
}

.top-m {
    margin-top: 1rem;
}

.top-m-big {
    margin-top: 5rem;
}

.top-news {
    margin-top: 14rem;
}


/* categiry end  */

/* lastest articles start  */



.section-title {
    position: relative;
}

.section-title h1 {
    color: var(--secondary-color, #1D1E22);
    text-align: right;
    font-family: PeydaWebFaNum6;
    font-size: 30px;
    font-size: clamp(2.5rem, 2.7rem, 3rem);

    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    margin-right: 2rem;
    position: relative;
}


.section-title h1::before {
    content: '';
    position: absolute;
    top: 10px;
    right: -26px;
    width: 1rem;
    height: 33px;
    background-color: var(--primary-color);
}

.moving-arrow-l,
.moving-arrow-r {
    position: absolute;

}

.moving-arrow-l {
    top: 15rem;
    right: -2rem;
}

.moving-arrow-r {
    top: 15rem;
    left: -2rem;
}

.news-boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
}

.news-box-pic img {
    width: 100%;
    border-radius: 10px;
}

.news-box {
    width: clamp(25rem, 27rem, 30rem);
    padding: 0 1.5rem;
}


.news-box-title a {
    font-family: PeydaWebFaNum5;
    width: 100%;
    margin-top: 10px;
    color: #000;
    text-align: right;
    font-size: clamp(1.4rem, 1.5rem, 1.8rem);
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    
    /* 36px */
}

.shorthand p {
    font-family: PeydaWebFaNum3;

    color: #A3A3A3;
    text-align: right;
    font-size: clamp(1.1rem, 1.2rem, 1.3rem);
    font-style: normal;
    font-weight: 300;
    line-height: 200%;
    padding-left: 10px;
    /* 26px */
}

.box-news-footer {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.box-news-footer a {
    color: var(--primary-color, #EC3A4C);
    text-align: right;
    /* font-family: Peyda(FaNum); */
    font-family: PeydaWebFaNum5;
    font-size: clamp(0.9rem,1rem,1.4rem);
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
}

.box-news-footer span {
    color: #757575;
    text-align: right;
    font-family: PeydaWebFaNum3;
    font-size: clamp(0.9rem,1rem,1.4rem);

    font-style: normal;
    font-weight: 300;
    line-height: 200%;
    /* 28px */
}

/* lastest articles finish  */

/* video article section start  */

.video-offer {
    height: 750px;
    background-color: #1D1E22;

    /* padding: 0 0 20px 0; */
}

.tab-title-ul {
    margin-top: 2rem;
    gap: 65px;
    width: fit-content;
    border-bottom: 1px solid #eeeeee71;
    /* padding-bottom: 14px; */
    z-index: 1;
    
}


.nav-item .active {
    color: var(--primary-color, #EC3A4C) !important;
    padding: 0 !important;
    background-color: #ffffff00 !important;
    text-align: right;
    font-family: PeydaWebFaNum6;
    font-size: clamp(1.7rem,1.8rem,2rem);
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    /* 40px */
    border-bottom: 3px solid var(--primary-color);
    border-radius: 0;

    z-index: 122;
}

.nav-item button {
    padding: 0 !important;
    color: #DEDEDE;
    text-align: right;
    font-family: PeydaWebFaNum6;
    font-size: clamp(1.7rem,1.8rem,2rem);
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
}

.nav-item button:hover {
    color: floralwhite;
}

.video-wrapper {
    display: flex ;
    justify-content: space-between;
    gap: 42px;
}

.video-text-box p {
    color: #FFF;
    text-align: right;
    font-family: PeydaWebFaNum5;
    font-size: clamp(1.4rem,1.5rem,1.8rem);
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    margin-top: 1rem;
}

.video-box {
    width: 100%;
}

.video-box .video {
    width: 100%;
    margin-top: 3rem;
    /* width: 50%;   */
    height: 39.9rem;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
}

.recommanded-articles {
    margin-top: 4rem;
}

/* video article section finish   */

/* the recommanded articles start  */

.recommended-box-wrapepr {
    width: 100%;
    padding: 0 4rem 0 0 ;
}

.recommended-color {
    background-color: #EEF0F2;
    height: fit-content;
    padding-bottom: 4.5rem;
}

.recommended-box {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin-top: 30px;
}

.recommended-pic img {
    width:clamp( 20rem,22rem,24.7rem);
    height: clamp(16rem,18rem,20rem);
    /* width: fit-content; */
    border-radius: 10px;
}

.recommended-title a {
    color: #000;
    text-align: right;
    font-family: PeydaWebFaNum5;
    font-size: clamp(1.4rem,1.6rem,1.8rem);
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
}

.recommended-text p {
    color: #A3A3A3;
    text-align: right;
    font-family: PeydaWebFaNum3;
    font-size: clamp(1rem,1.1rem,1.3rem);
    font-style: normal;
    font-weight: 300;
    line-height: 200%;
    /* 26px */
}


.advertisement {
    padding: 0 4rem;
}

.ads {
    margin-top: 2rem;
}

.ads:first-child{
    margin-top: 0;
}

/* the recommanded articles finish  */

/* the popular city in germany start  */

.popular-city-box {
    max-width: 30.3rem;
    max-height: 25rem;
    padding: 0 12px;
}

.popular-city-pic {
    width: fit-content;
}

.popular-city-title a {
    color: #000;
    text-align: right;
    font-family: PeydaWebFaNum6;
    font-size: clamp(1.7rem,1.8rem,2rem);
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    /* 40px */
}

.popular-navigate-btn a {
    color: var(--secondary-color, #1D1E22);
    text-align: right;
    font-family: PeydaWebFaNum-N;
    font-size: clamp(1.4rem,1.5rem,1.6rem);
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /* 32px */
}

.popular-city-pic a img {
    width: 100%;
}

.ad_box {
    display: flex;
    height: 36rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #F6F6F6;
}


.swiper-button-next,
.swiper-button-prev {
    color: var(--primary-color);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
}

.swiper-slide {
    width: 30.3rem !important;
}


@media screen and (max-width:1198px) {
    .small-hero-sec-wapper {
        flex-basis: 100rem;
        margin-top: 1.5rem;
    }
}