@import url('../fonts.css');

.wallet {
    border-radius: 10px;
    background-color: #F6F6F6;
    width: 100%;
    padding: 10px;
}

.wallet-cheapset {
    justify-content: space-between !important;
}

.shaba-number {
    margin-top: 1rem;
}

.shaba-number p {
    color: #000;
    text-align: center;
    font-family: PeydaWebFaNum15;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.3%;
    /* 32.86px */
    letter-spacing: 3px;

}

.edit-wallet {
    margin-top: 1.5rem;
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}

.edit-wallet span {
    color: #868686;
    text-align: right;
    font-family: PeydaWebFaNum15;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.3%;
    /* 23.002px */
    display: block;

}

.edit-wallet span[pic] {
    width: 24px;
    height: 24px;
    display: block;
}

.edit-wallet span img {
    width: 100%;
    height: 100%;
}

#shaba {
    width: 363px;
}

label {
    color: #151515;
    text-align: right;
    font-family: PeydaWebFaNum15;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


#card-info {
        height: fit-content;
        padding: 10px;
}


input[type=file] {

    height: 0;
    overflow: hidden;
    width: 0;
    opacity: 0;
}

input[type=file]+label {
    border: none;
    border-radius: 5px;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    font-family: PeydaWebFaNum15;
    
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 9px 15px;
    
    display: inline-block;
    display: inline-flex;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

input[type=file]+label.btn-3 {
    border-radius: 5px;
    background: #000;
    overflow: hidden;
}

input[type=file]+label.btn-3 span {
    display: inline-block;
    height: 100%;
    transition: all 0.3s;
    width: 100%;

    color: #FFF;
    text-align: right;
    font-family: PeydaWebFaNum15;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
 
/* preventing to the width 100% from responsive  */

.cv-wait:not(#password) {
    width: 50% !important;
}

#password {
    width: 60% !important  ;
}