@import url('../fonts.css');

.salary-consult {
    width:28rem;
    height: 127px;
    border-radius: 20px;
    background-color: #FF6060;
    /* padding-top: 20px; */
    padding: 20px 10px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 10px;}

.bg-green {
    background-color: #23C38A;
}

.bg-blue {

    background-color: #4662F6;
}

.salary-consult p ,
.salary-consult span{
    color: #FFF;
    font-family: PeydaWebFaNum15;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.salary-consult span {
    font-size: 1.6em;

}

.incomes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.salary-consult .salary-numb {
    font-size: 4em;
    font-weight: 400;
  
}


.align-end {
    align-self: flex-end;
}

.nav-pills{ 
    flex-wrap:wrap !important    ;
}

.month-name {
    width: ss;
}

.nav-link {
    margin-right: 0;
}

.nav-pills {
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width:1550px) {
    .salary-consult {
        width: 25rem;
    }

    .incomes {
        justify-content: center;
        gap: 5rem;
    }

    .transaction_box {
        width: 272px;
    }

    .wallet {
        width: 286px;
    }
}