/* the blog part  */
.blog_header {
    font-size: 20px;
    color: #1D1E22;
    font-weight: 600;
}

.weblog_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 32px;
}

#weblog_btn {
    width: 100%;
    padding: 7px 8px;
}

.blog_box_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog_box {
    height: 417px;
    background-color: #F6F6F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* padding: 5px; */
    padding: 10px;
}

.blog_image {
    padding: 10px;
}

.blog_image img {
    width: 100%;
    border-radius: 5px;
}



.blog_box h1 {
    font-weight: 600;
    line-height: 100%;
    font-size: 16px;
    color: #000;
    text-align: right;
}

.blog_box p {
    font-style: normal;
    font-weight: 300;
    line-height: 172.5%;
    color: #5B5B5B;
    font-size: 14px;
    width: 80%;
    border-radius: 5px;
}

.blog_box .btn_blog_more {
    color: var(--primary-color);
    background-color: #FCDDE0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

/* the blog part end */

.comment_section {
    height: 575px;
    display: flex;
    overflow: hidden;
}

.right_section_text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.right_section_text h1 {
    font-size: 20px;
    color: #1D1E22;
    font-weight: 600;
    line-height: normal;
}

.right_section_text p {
    font-family: var(--PeydaWebFaNum3);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    color: #000;
    width: 80%;

}


/* this is the comment section of site  */


.comments_section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments_section .moving_arrows {
    width: 20% !important;
}

.comments {
    width: 80%;
}

.arrow_up_comments img,
.arrow_down_comments img {
    cursor: pointer;
}

.comment_box {
    border-radius: 10px;
    background: #F6F6F6;
    padding: 25px;
    width: 492px;
    /* height: fit-content; */
    margin: 10px 0 10px;
}

.comments_section .swiper-slide {
    width: unset;
}

.comment_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_body p {
    font-family: PeydaWebFaNum16;
    color: #081131;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    padding: 20px;
}

.comment_body img {
    width: 90px;
    height: 90px;
    border-radius: 22px;
}

.comment_body h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    color: var(--primary-color);
    font-family: var(--PeydaWebFaNum5);
}

.comment_auther h3 {
    font-family: PeydaWebFaNum16;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    color: var(--primary-color);
    padding-right: 20px;
}

.responsive_comment_icon {
    display: none;
}

.comments_section .swiper-slide {
    height: unset !important;
}

/* this is the trust section  */

.trust_sec {
    display: flex;
    background-color: #F6F6F6;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    justify-content: center;
}

.trust_sec img {
    /* width: %; */
}

.trust_logo_box {
    padding: 10px;
}

.moving_arrow-comment {
    margin-left: 30px;
}