.text_final_step {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: PeydaWebFaNum6;
    font-family: var(--PeydaWebFaNum5);
    color: var(--primary-color);
}

.step_photo {
    width: 100%;
    display: flex;

}

.step_photo div {
    padding: 5px;
}

.step_photo div img {
    width: 100%;
}

.consult_navigate a {
    border-radius: 5px;
    padding: 13px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    font-family: PeydaWebFaNum3;
    line-height: 100%;
    transition: all linear .2s;
}

.consult_navigate a span {
    margin-left: 5px;
}

.btn_consult {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: all linear .2s;
}

.btn_cv {
    border: 1px solid var(--primary-color);
}

.btn_cv:hover,
#btn_more_pro:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.btn_navigate_more:hover {
    background-color: #f1c4c9;
}

.btn_more:hover ~.btn_more svg path {
    fill: #fff !important;
}

.btn_consult:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.btn_consult:hover {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: #fff;
    background-color: var(--primary-hover);
}

#step_box_desc_7 p {
    text-align: right;
}

.after_what {
    color: var(--primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    font-family: PeydaWebFaNum6;

    font-family: var(--PeydaWebFaNum5);

    line-height: normal;

}


/* this part goes for popular ausbildungs  */

.popular_ausbildungs_wrapper {
    height: 559px;
    background: #F6F6F6;

}

.ausbildung_popular_wrapper {
    display: flex;
}

.ausbildung_card {
    height: 443px;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    width: 284px !important; 
    position: relative;
    margin-left: 15px;
    /* padding: 10px; */
}

.moving_arrows-parent {
    position: relative;
}

.moving_arrows {
    position: absolute;
    top: 200px;
    /* left: 678px; */
    z-index: 1111;
    /* background-color: #ffffffda; */
    border-radius: 10px;
}   

.popular-asubildung_pic {
    margin  : 10px 11px;
}

.popular-asubildung_pic img {
    border-radius: 5px;
    width: 100%;
    height: 100%;

}

.second-card-part {
    padding: 0 27px;
}

.popular_ausbildung_title .popular_ausbildung_fa {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    font-family: PeydaWebFaNum5;
    line-height: 100%;
    color: var(--secondary-color);
    text-align: center;
}

.popular_ausbildung_title .popular_ausbildung_de {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    font-family: PeydaWebFaNum5;

    line-height: 100%;
    color: var(--primary-color);
    text-align: center;
}

.salary_ausbildung ul>li {
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
}

.salary_ausbildung ul>li span {
    padding: 10px 2px 8px 1px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family:PeydaWebFaNum13 ;
    line-height: 100%;
    /* font-family: ; */
}

.btn_navigate_more {
    border-radius: 5px;
    background: #FCDDE0;
    display: flex;
    padding: 8px 20px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    justify-content: center;
    cursor: pointer;
    transition: all linear .2s;
}


.btn_navigate_more a {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    font-family: PeydaWebFaNum15;
    line-height: 100%;
    color: var(--primary-color);
}

#popular_ausbildungs_btn_more {
    margin-top: 20px;
    width: fit-content !important;
}

#popular_ausbildungs_btn_more span {
    margin-left: 15px;
}

.popular_ausbildungs_text_guid {

    display: flex;
    flex-direction: column;
    justify-content: center ;
    width: 79%;
    height: 85%;
}

/* responsive slider  */
.ausbildung_card_responsive {
    display: none;
}

/* responsive slider  */

.slider-centering {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}


.popular_ausbildungs_text {
    /* width: 100%; */
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#picture_guid_pro {
    background-image: url('../../assets/images/cv-desk.png') !important;

}

#btn_more_pro {
    width: fit-content;
    background-color: inherit;
    color: #000;
}

.big-bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-circle {
    width: 932px;
    height: 1035.347px;
    border-radius: 1035.347px;
    background-color: var(--primary-color);
    position: absolute;
    left: -10rem;
    top: 80%;
}

.person-pic {
    background: url('../../assets/images/20230701061910__fpdl\ 1.png') no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: 120%;
    background-position-x: 5%;
    position: absolute;

}

/* the news card started  */
.news-boxs {
    display: flex;
}

.news-box-pic img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    image-resolution: from-image 300dpi;
}

.news-box-title a {
    width: 90%;
    margin-top: 10px;
    color: #000;
    text-align: right;
    font-family: PeydaWebFaNum5;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    /* 36px */
    /* 36px */
}


.shorthand p {

    width: 301px;
    color: #A3A3A3;
    text-align: right;
    font-family: PeydaWebFaNum13;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    
    line-height: 200%;
    /* 26px */
}

.box-news-footer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  
}

.box-news-footer a {

    color: var(--primary-color, #EC3A4C);
    text-align: right;
    font-family: PeydaWebFaNum13;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
}

.box-news-footer span {
    color: #757575;
    text-align: right;
    font-family: PeydaWebFaNum13;

    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 200%;
    /* 28px */
}


.approved_img {
    position: absolute;
    left: 87%;
    top: 35%;
}

#padding-set {
    padding-right: 220px;
}


/* responsive of tablet  */

@media screen and (max-width :1280px) {
    .form_enter {
        width: 28%;
    }

    .popular_ausbildungs_text_guid {
        height: 60% !important;
        margin-top: 3rem;
    }

    .ausbildung_card {
        width: 250px ;
        height: 421px ;
        margin-top: 3rem;
    }

 
    .moving_arrows {
        width: 80% !important;
    }

    .bg-circle {
        left: -10rem !important;
    }

    .person-pic {
        background-position-x: 0% !important;
    }

    
}